*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: #ffd521;
}

@font-face {
    font-family: simpson;
    src: url(../assest/Simpsonfont\ DEMO.otf);
}

nav{
    font-family: simpson;
}
 
.gif{
    background-color: aquamarine;
}

.homero{
    font-family: simpson;
    display: flex;
    align-items: center;
}

.marge{
    font-family: simpson;
    display: flex;
    align-items: center;
}

p:target::before {
    color: rgb(0, 8, 0);
}

h1{
    text-align: center;
}

audio{
    box-shadow: 5px 5px 20px black;
    border-radius: 90px;
    transform: scale(1.05);
}
